<ul class="list-inline">
    <li><a href="https://github.com/diego00aq" class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="Github"><i class="fa fa-fw fa-github"></i></a>
    </li>
    <li><a href="http://twitter.com/diego00aq" class="btn-social btn-outline" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a>
    </li>
    <li><a href="http://Botgard.com/" class="btn-social btn-outline" title="Web"><i class="fa fa-fw fa-wordpress"></i></a>
    </li>
    <li><a href="mailto:diegoalb00@gmail.com" class="btn-social btn-outline" title="Email"><i class="fa fa-fw fa-envelope"></i></a>
    </li>  
</ul>
<ul class="list-inline-skills">
    <h4>Habilidades</h4>
    <li><a class="btn-social btn-outline" data-toggle="tooltip" data-placement="top" title="HTML5"><i class="fa fa-fw  fa-html5"></i><p>87%</p></a>
    </li>
    <li><a class="btn-social btn-outline" title="Design"><i class="fa fa-paint-brush"></i><p>25%</p></a>
    </li>
    <li><a class="btn-social btn-outline" title="Backend"><i class="fa fa-fw  fa-server"></i><p>19%</p></a>
    </li>
</ul>