<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="This is me;) 14 Years old... Student Developer at Platzi." />

    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bastard.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Noto+Serif:400,700,400italic|Open+Sans:700,400" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  

    {{! Touch icons and favicon }}
    <link rel="icon" type="image/x-icon" href="{{asset "/images/favicon.ico"}}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{asset "/images/favicon.ico"}}" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}

    {{! Update the following section with your own Google Analytics Tracking Code - http://www.google.com/analytics/}}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-53698734-1', 'gferreira.me'); //Replace with your valid ID
      ga('send', 'pageview');

    </script>
  </head>
<body class="{{body_class}}">
    <!-- Side Menu -->
        <!--Gravatar link, update avatar image url to use your own; s = size in pixels -->
        {{> gravatar}}
        <!-- /Gravatar link -->
    <div id="slidemenu-wrapper">
        {{> slidemenu}}
    </div>
    <!-- /Side Menu -->

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer">
         <a href="https://github.com/diego00aq"><span class="fa fa-3x fa-github"></span></a>
         <a href="https://twitter.com/diego00aq"><span class="fa fa-3x fa-twitter"></span></a>
         <a href="https://botgard.com"><span class="fa fa-3x fa-wordpress"></span></a>

        <div class="container">
            <div class="row">
                <img src="/assets/images/with_love_in_boston.png">
            </div>
        </div>
        <div class="container">
            <div class="row">
             <section class="copyright">All content copyright <a href="http://creativecommons.org/licenses/by-sa/4.0/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
                <!--  <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section> -->
                 <!-- <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> and the <a href="http://github.com/misterGF/swaggy-bastard"><strong>Swaggy Bastard</strong></a> Theme</section>  -->
                 <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a> by <a href="http://twitter.com/diego00aq"><strong>Diego</strong></a></section> 
            </div>
            <div class="row">
                 <a id="scroll-to-top" class="pull-right" href="#top"><i class="fa fa-chevron-circle-up fa-2x"></i></a>
            </div>
        </div>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Bastard }}
    <script type="text/javascript" src="{{asset "js/scripts.min.js"}}"></script>
</body>
</html>
